<!DOCTYPE html>
<html>
<head>
    <title>Liip Translation Bundle : Standalone mode</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('liip_translation_interface') }}">{{ 'link.translate' | trans({}, 'translation-bundle') }}</a></li>
                <li><a href="{{ path('liip_translation_import') }}">{{ 'link.import' | trans({}, 'translation-bundle') }}</a></li>
            </ul>
        </div>
    </nav>

    {% for type, messages in app.session.flashbag.all() | default(app.session.flashes | default(false)) %}
        <ul>
            {% for message in messages %}
                <li class='alert alert-{{ type }}'>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endfor %}

    {% block translation_bundle_content %}
    {% endblock %}

    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="{{ asset('bundles/liiptranslation/js/jquery.jeditable.js') }}"></script>
    <script type="text/javascript">
        $('.translation-value').editable('{{ path('liip_translation_inline_edit') }}', {
            indicator: 'Saving...',
            tooltip: 'Click to edit...',
            submit: 'Ok',
            height: '24px',
            width: '15em'
        });
    </script>
</body>
</html>
