<h1>{{ 'translation.interface.title' | trans({}, 'translation-bundle') }}</h1>
<table>
    <tr>
        <th>{{ 'translation.interface.column.domain' | trans({}, 'translation-bundle') }}</th>
        <th>{{ 'translation.interface.column.key' | trans({}, 'translation-bundle') }}</th>
        <th>{{ 'translation.interface.column.help' | trans({}, 'translation-bundle') }}</th>
        {% for locale in columns %}
            <th>{{ 'translation.interface.column.value' | trans({'%locale%': locale}, 'translation-bundle') }}</th>
        {% endfor %}
    </tr>
    {% for item in items %}
        <tr>
            <td>{{ item.domain }}</td>
            <td>{{ item.key }}</td>
            <td>{{ item.help }}</td>
            {% for locale in columns %}
                <td>{{ item.translation(locale) }}</td>
            {% endfor %}
        </tr>
    {%  endfor %}
</table>

<a href="{{ path('liip_translation_cache_clear') }}">Cache clear</a>