{% trans_default_domain 'translation-bundle' %}

<h1>{{ 'translation.interface.title' | trans }}</h1>
<table>
    <tr>
        <th>{{ 'translation.interface.column.domain' | trans }}</th>
        <th>{{ 'translation.interface.column.key' | trans }}</th>
        <th>{{ 'translation.interface.column.help' | trans }}</th>
        {% for locale in columns %}
            <th>{{ 'translation.interface.column.value' | trans({'%locale%': locale}) }}</th>
        {% endfor %}
    </tr>
    {% for item in items %}
        <tr>
            <td>{{ item.domain }}</td>
            <td>{{ item.key }}</td>
            <td>{{ item.help }}</td>
            {% for locale in columns %}
                <td>{{ item.translation(locale) }}</td>
            {% endfor %}
        </tr>
    {%  endfor %}
</table>