{% block filter_form %}
    <form action="{{ path('liip_translation_filter') }}" method="POST" {{ form_enctype(filter_form) }} class="form-inline" role="form">
        {{ form_rest(filter_form) }}
        <a class="reset-filter" href="{{path('liip_translation_resetfilter') }}" >{{ 'button.reset-filter' | trans({}, 'translation-bundle') }}</a>
        <input type="submit" class="btn btn-default" value="{{ 'button.filter' | trans({}, 'translation-bundle') }}">
    </form>
{% endblock %}

{% block filter_description %}
    <dl>
        {% for name, value in filters %}
            <dt>{{ name | trans({}, 'translation-bundle') }}</dt>
            <dd>{{ value | trans({}, 'translation-bundle') }}</dd>
        {% else %}
            <dd>{{ 'filters.nothing' | trans({}, 'translation-bundle') }}</dd>
        {% endfor %}
    </dl>
{% endblock %}