<h1>{{ 'translation.interface.title' | trans({}, 'translation-bundle') }}</h1>

<div class="table-responsive">
    <table class="translations table table-striped table-bordered table-hover table-condensed">
        <thead>
        {% block table_header %}
            <tr>
                <th>{{ 'translation.interface.column.domain' | trans({}, 'translation-bundle') }}</th>
                <th>{{ 'translation.interface.column.key' | trans({}, 'translation-bundle') }}</th>
                <th>{{ 'translation.interface.column.help' | trans({}, 'translation-bundle') }}</th>
                {% for locale in columns %}
                    <th>{{ 'translation.interface.column.value' | trans({'%locale%': locale}, 'translation-bundle') }}</th>
                {% endfor %}
            </tr>
        {% endblock %}
        </thead>
        <tbody>
        {% for item in items %}
            {% block table_row %}
                <tr>
                    <td class="translation-domain">{{ item.domain }}</td>
                    <td class="translation-key">{{ item.key }}</td>
                    <td class="translation-help">{{ item.help }}</td>
                    {% for locale in columns %}
                        <td class="translation-content">
                            <span class="translation-value">{{ item.translation(locale).value | default('') }}</span>
                            <a class="translation-edit" href="{{ path('liip_translation_edit', { domain: item.domain, key: item.key, locale: locale}) }}">edit</a>
                        </td>
                    {% endfor %}
                </tr>
            {% endblock %}
        {% endfor %}
        </tbody>
        <tfoot>
        {% block table_footer %}
            {{ block('table_header') }}
        {% endblock %}
        </tfoot>
    </table>
</div>