<h1>{{ 'translation.interface.title' | trans({}, 'translation-bundle') }}</h1>

{% block filter_form %}
    <form action="{{ path('liip_translation_filter') }}" method="POST" {{ form_enctype(filter_form) }} class="form-inline" role="form">
        {{ form_rest(filter_form) }}
        <input type="submit" class="btn btn-default" value="{{ 'translation.interface.button_filter' | trans({}, 'translation-bundle') }}">
    </form>
{% endblock %}

<div class="table-responsive">
    <table class="translations table table-striped table-bordered table-hover table-condensed">
        <thead>
        {% block table_header %}
            <tr>
                <th>{{ 'translation.interface.column.domain' | trans({}, 'translation-bundle') }}</th>
                <th>{{ 'translation.interface.column.key' | trans({}, 'translation-bundle') }}</th>
                <th>{{ 'translation.interface.column.help' | trans({}, 'translation-bundle') }}</th>
                {% for locale in columns %}
                    <th>{{ 'translation.interface.column.value' | trans({'%locale%': locale}, 'translation-bundle') }}</th>
                {% endfor %}
            </tr>
        {% endblock %}
        </thead>
        <tbody>
        {% for item in items %}
            {% block table_row %}
                <tr>
                    <td class="translation-domain">{{ item.domain }}</td>
                    <td class="translation-key">{{ item.translationKey }}</td>
                    <td class="translation-help">{{ item.help }}</td>
                    {% for locale in columns %}
                        <td class="translation-content">
                            {% set has_value = item.translation(locale).value | default('') | length > 0 %}
                            {% if has_value %}
                                <span class="translation-value">{{ item.translation(locale).value }}</span>
                            {% else %}
                                <span class="translation-fallback text-muted">{{ item.translationKey | trans({}, item.domain, locale) }}</span>
                            {% endif %}
                            <a class="translation-edit" href="{{ path('liip_translation_edit', { domain: item.domain, key: item.translationKey, locale: locale}) }}">
                                {% if has_value %}
                                    <span class="glyphicon glyphicon-edit"></span> edit
                                {% else %}
                                    <span class="glyphicon glyphicon-pencil"></span> override
                                {% endif %}
                            </a>
                            {% if has_value %}
                                <a class="translation-edit" href="{{ path('liip_translation_remove', { domain: item.domain, key: item.translationKey, locale: locale}) }}">
                                    <span class="glyphicon glyphicon-trash"></span> remove
                                </a>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endblock %}
        {% endfor %}
        </tbody>
        <tfoot>
        {% block table_footer %}
            {{ block('table_header') }}
        {% endblock %}
        </tfoot>
    </table>
    <a class="translation-cache-clear" href="{{ path('liip_translation_cache_clear') }}">{{ 'translation.interface.button_clear_cache' | trans({}, 'translation-bundle') }}</a>
    <a class="translation-export" href="{{ path('liip_translation_export') }}">{{ 'translation.interface.button_export' | trans({}, 'translation-bundle') }}</a>
</div>