<table class="translations table table-striped table-bordered table-hover table-condensed">
    <thead>
    {% block table_header %}
        <tr>
            <th class="translation-domain">{{ 'column.domain' | trans({}, 'translation-bundle') }}</th>
            <th class="translation-key">{{ 'column.key' | trans({}, 'translation-bundle') }}</th>
            {% for locale in columns %}
                <th class="translation-content">{{ 'column.value' | trans({'%locale%': locale}, 'translation-bundle') }}</th>
            {% endfor %}
        </tr>
    {% endblock %}
    </thead>
    <tbody>
    {% for item in items %}
        {% block table_row %}
            <tr>
                <td class="translation-domain">{{ item.domain }}</td>
                <td class="translation-key">{{ item.key }}</td>
                {% for locale in columns %}
                    <td class="translation-content">
                        {% set has_value = item.hasTranslation(locale) %}
                        {% set translation_id = item.domain ~ '__' ~ item.key ~ '__' ~ locale %}
                        <span class="translation-value{% if not has_value %} translation-fallback text-muted{% endif %}" id="{{ translation_id }}">
                            {%- if has_value -%}
                                {{ item.translation(locale).value }}
                            {%- else -%}
                                {{ item.key | trans({}, item.domain, locale) }}
                            {%- endif -%}
                        </span>
                        <a class="{{ has_value ? 'translation-edit' : 'translation-override' }}" href="{{ path('liip_translation_edit', { domain: item.domain, key: item.key, locale: locale}) }}">
                            <span class="glyphicon glyphicon-{{ has_value ? 'edit' : 'pencil' }}"></span>
                            {{ (has_value ? 'link.edit' : 'link.override') | trans({}, 'translation-bundle') }}
                        </a>
                        {% if has_value %}
                            <a class="translation-remove" href="{{ path('liip_translation_remove', { domain: item.domain, key: item.key, locale: locale}) }}">
                                <span class="glyphicon glyphicon-trash"></span> {{ 'link.remove' | trans({}, 'translation-bundle') }}
                            </a>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endblock %}
    {% endfor %}
    </tbody>
    <tfoot>
    {% block table_footer %}
        {{ block('table_header') }}
    {% endblock %}
    </tfoot>
</table>