{% trans_default_domain 'translation-bundle' %}

<h1>{{ 'import.interface.title' | trans }}</h1>

{% for type, messages in app.session.flashBag.all %}
    <ul>
    {% for message in messages %}
        <li class='flash {{ type }}'>{{ message }}</li>
    {%  endfor %}
    </ul>
{% endfor %}

<form action="{{ path('liip_translation_import_file') }}" method="POST" {{ form_enctype(form) }}>
    {{ form_rest(form) }}
    <input type="submit" value="{{ 'import.file-input.sumbit' | trans }}">
</form>

{{ translations }}

{% for locale, localeTranslations in translations %}

    <h2>Locale [{{ locale }}]</h2>

    {% if localeTranslations.new | length > 0  %}
        <h3>New translations</h3>
        <table>
            <tr><th>Domain</th><th>Key</th><th>Value</th><th>Actions</th></tr>
            {% for domain, domainTranslations in localeTranslations.new %}
                {% for key, value in domainTranslations %}
                    <tr>
                        <td>{{ domain }}</td>
                        <td>{{ key }}</td>
                        <td>{{ value }}</td>
                        <td><a href="{{ path('liip_translation_import_remove_entry', {'locale': locale, 'domain': domain, 'key': key}) }}">Remove</a></td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
    {% endif %}

    {% if localeTranslations.updated | length > 0  %}
        <h3>Updated translations</h3>
            <table>
                <tr><th>Domain</th><th>Key</th><th>Current value</th><th>New value</th<th>Actions</th></tr>
                {% for domain, domainTranslations in localeTranslations.updated %}
                    {% for key, value in domainTranslations %}
                        <tr>
                            <td>{{ domain }}</td>
                            <td>{{ key }}</td>
                            <td>{{ value.old }}</td>
                            <td>{{ value.new }}</td>
                            <td><a href="{{ path('liip_translation_import_remove_entry', {'locale': locale, 'domain': domain, 'key': key}) }}">Ignore</a></td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </table>
    {% endif %}

    <form action="{{ path('liip_translation_import_process', { 'locale': locale }) }}" method="post" style="float: right;">
        <input type="submit" value="{{ 'import.process.locale.button' | trans({'locale': locale}) }}">
    </form>

{% else %}

    <span>Please, upload new files...</span>

{% endfor %}

{% if translations | length %}
    <form action="{{ path('liip_translation_import_process', { 'locale': 'all' }) }}" method="post" style="float: right;">
        <input type="submit" value="{{ 'import.process.all.button' | trans }}">
    </form>
{% endif %}
